#creategroups {
  .create-groupe-block {
    max-width: 70em;
    border: 1px solid grey;
    height: 700px;
    border-radius: 20px;
    margin: 50px auto 0;
    position: relative;
    padding: 50px 100px;

    h3 {
      color: #d0d0d0;
      font-size: 14px;
      position: absolute;
      top: -30px;
      left: 30px;
    }

    form {
      position: relative;

      label {
        display: block;
        margin: 40px 0;
        position: relative;
        font-weight: 700;

        input, select {
          position: absolute;
          right: 300px;
          top: -18px;
        }
      }
    }
  }
}