@import "groupeCoverImage";
@import "groupeProfilePicture";
@import "groupeAboutBlock";
@import "discussionsBlock";
@import "membresBlock";
@import "descriptionBlock";
@import "groupeIcons";


#main-block {
  margin: 0 auto;
  max-width: 70em;
  height: auto;
}
