#account-preferences {
  max-width: 70em;
  height: auto;
  border-radius: 15px;
  margin: 20px auto 0;

  h3 {
    position: relative;
    top: 40px;
    left: 25px;
    color: #b7b7b7;
    font-size: 14px;
  }

  .preference {
    max-width: 70em;
    height: 600px;
    border-radius: 15px;
    border: solid 1px #bababa;
    margin: 50px auto 0;

    form {
      position: relative;

      .flex-input {

        label {
          display: block;
          margin: 50px auto;
          position: relative;
          left: 25px;
          font-weight: 800;

          input {
            border-radius: 15px;
            border: 1px solid grey;
            position: absolute;
            right: 500px;
            width: 350px;
            height: 25px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            top: -16px
          }
        }

        input[type="submit"] {
          border: none;
          height: auto;
          width: auto;
          position: relative;
          left: 270px;
        }
      }
    }
  }
}