*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;

}

main {
  max-width: 70em;
  height: auto;
  margin: 0 auto 40px;
  position: relative;
}