*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

main {
  max-width: 70em;
  height: auto;
  margin: 0 auto 40px;
  position: relative;
}

header nav {
  width: 100%;
  height: 60px;
  background-color: #2A2B2F;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  margin-left: 25px;
}
header nav .logo img {
  width: 250px;
}
header nav .right {
  margin-right: 25px;
  display: flex;
  align-items: center;
}
header nav .right label input {
  width: 250px;
  height: 35px;
  border-radius: 25px;
  border: none;
  outline: none;
  margin-right: 10px;
}
header nav .right .dropdown button {
  outline: none;
}
header nav .right a {
  margin: 0 5px;
}
header nav .right a img {
  width: 35px;
  border-radius: 50%;
  position: relative;
  top: -1px;
}

h1.title {
  font-size: 3em;
}

h2.sous-title {
  font-size: 2.5em;
}

h3.header-title {
  font-size: 2em;
}

p.paragraphe {
  font-size: 1.5em;
}

.grey {
  color: #b7b7b7;
}

.blue {
  color: #198ab6;
}

.white {
  color: #ffffff;
}

.bold {
  font-weight: 800;
}

.italic {
  font-style: italic;
}

.center {
  text-align: center;
}

.form-signin {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #2A2B2F;
  font-family: "Quicksand", sans-serif;
}
.form-signin .sign-form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-signin .sign-form h1 {
  color: #fff;
  margin: 10px 0;
  font-family: toxigenesis;
}
.form-signin .sign-form .form-floating input {
  outline: none;
  border: 2px solid #e3e3e3;
  width: 220px;
  height: 30px;
  border-radius: 20px;
  margin: 5px 0;
}
.form-signin .sign-form .form-floating input#floatingInput, .form-signin .sign-form .form-floating input#floatingPassword {
  padding-left: 10px;
}
.form-signin .sign-form input[type=submit] {
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 5px 15px;
  width: auto;
  background-color: #1991FF;
  font-weight: 700;
  color: white;
}
.form-signin .sign-form .inscription {
  margin-top: 10px;
}
.form-signin .sign-form .inscription span, .form-signin .sign-form .inscription a {
  color: #fff;
}
.form-signin .sign-form p {
  margin-top: 10px;
  color: #fff;
}

.form-inscription {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-inscription .inscription-form form {
  width: 300px;
  height: auto;
}
.form-inscription .inscription-form form .text-inscription {
  margin-top: 80px;
  font-size: 3em;
  font-family: "Quicksand", sans-serif;
}
.form-inscription .inscription-form form .profile-picture .user img {
  display: block;
  margin: 0 auto;
  width: 150px;
}
.form-inscription .inscription-form form .profile-picture .user label {
  display: block;
  margin-top: 15px;
}
.form-inscription .inscription-form form .profile-picture .user label input {
  display: block;
  margin: 0 auto;
}
.form-inscription .inscription-form form .form-floating {
  margin: 15px auto;
}
.form-inscription .inscription-form form .form-floating label {
  display: block;
  text-align: left;
  color: #2a2b2f;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}
.form-inscription .inscription-form form .form-floating label input {
  display: block;
  margin-top: 0.2em;
  border-radius: 25px;
  border: 1px solid #d5d5d5;
  outline: none;
  height: 30px;
  width: 300px;
}
.form-inscription .inscription-form form .form-floating-bio {
  margin: 15px auto;
}
.form-inscription .inscription-form form .form-floating-bio label {
  display: block;
  text-align: left;
  color: #2a2b2f;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}
.form-inscription .inscription-form form .form-floating-bio label input {
  display: block;
  margin-top: 0.2em;
  border-radius: 25px;
  border: 1px solid #d5d5d5;
  outline: none;
  height: 90px;
  width: 300px;
}
.form-inscription .inscription-form form input[type=submit] {
  display: block;
  margin: 0 auto;
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 5px 15px;
  color: #fff;
  background-color: black;
  width: 150px;
  height: 30px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}
.form-inscription .inscription-form form .inscription span {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: #2a2b2f;
  display: block;
  text-align: center;
  margin-top: 15px;
}
.form-inscription .inscription-form form .inscription span a {
  font-family: "Quicksand", sans-serif;
  color: #2a2b2f;
  text-decoration-thickness: 2px;
  font-weight: 700;
}
.form-inscription .inscription-form form .error {
  color: red;
  margin-top: 15px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
}

.profil-grid {
  width: 100%;
  height: 450px;
  position: relative;
}
.profil-grid .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 190px;
}
.profil-grid .nav .pseudo {
  margin-left: 310px;
}
.profil-grid .nav ul {
  display: flex;
  align-items: center;
  position: relative;
  top: 10px;
}
.profil-grid .nav ul li {
  list-style: none;
  color: #198ab6;
  margin: 0 20px;
}
.profil-grid .nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}
.profil-grid .bio {
  position: absolute;
  top: 255px;
  left: 315px;
}
.profil-grid img {
  width: 250px;
  border-radius: 50%;
  position: absolute;
  top: 110px;
  left: 50px;
}
.profil-grid #lvl-icon {
  width: 60px;
  position: absolute;
  top: 325px;
  left: 145px;
}
.profil-grid #lvl-rank {
  width: 380px;
  position: absolute;
  top: 390px;
  left: -12px;
}

.UserGames {
  width: 100%;
  height: auto;
  border-radius: 25px;
  border: 1px solid grey;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  margin-bottom: 50px;
}
.UserGames h4 {
  padding: 10px;
  border-bottom: 1px solid grey;
}
.UserGames .Games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.UserGames .Games .enfant {
  margin: 10px;
}
.UserGames .Games .enfant img {
  width: 150px;
}

.grp .OneGroupe {
  display: flex;
  margin-top: 20px;
}
.grp .OneGroupe .img-container {
  margin-left: 10px;
}
.grp .OneGroupe .img-container img {
  width: 100px;
}
.grp .OneGroupe .Text-container {
  margin-left: 10px;
  line-height: 2px;
}

.parent {
  max-width: 80em;
  margin: 0 auto 20px;
  display: grid;
  grid-template-columns: 0.3fr 1.2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.parent .block-photo {
  grid-area: 1/1/2/2;
}
.parent .block-photo img {
  width: 100%;
  object-fit: cover;
}
.parent .block-about-game {
  grid-area: 1/2/2/3;
  padding: 10px;
}
.parent .block-about-game .description-block {
  margin-top: 25px;
  width: 100%;
  height: auto;
  border: 1px solid #d5d5d5;
  border-radius: 25px;
  border-bottom: 1px solid #b7b7b7;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.parent .block-about-game .description-block #desc {
  color: #b7b7b7;
  font-weight: 800;
  padding: 30px;
  border-bottom: 1px solid #bababa;
}
.parent .block-about-game .description-block .note-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parent .block-about-game .description-block .note-container .circle-note {
  border-radius: 50%;
  width: 95px;
  height: 95px;
  border: 1px solid #bababa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent .block-about-game .description-block .note-container .circle-note p {
  font-weight: 800;
  font-size: 20px;
}
.parent .block-about-game .description-block .note-container h3 {
  margin-left: 25px;
  font-size: 23px;
}
.parent .block-about {
  grid-area: 2/1/3/2;
  width: 100%;
  height: auto;
  border-radius: 25px;
  border: 1px solid #bababa;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.parent .block-about h3 {
  padding: 20px;
  border-bottom: 1px solid #bababa;
  text-align: center;
}
.parent .block-about .about-container {
  padding: 20px;
}
.parent .block-about .about-container .about-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.parent .block-about .about-container .about-item .circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 5px solid #787878;
}
.parent .block-about .about-container .about-item span {
  margin-left: 15px;
  color: #bababa;
  font-weight: 800;
}
.parent .block-about .about-container .about-item .blue {
  color: #1991FF;
  margin-left: 10px;
}
.parent .block-asset-game {
  grid-area: 2/2/3/3;
  border-radius: 25px;
  border: 1px solid #bababa;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}
.parent .block-asset-game img {
  width: 100%;
  border-radius: 20px;
}
.parent .block-asset-game form {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
}
.parent .block-asset-game form .Button-Onegame-insert, .parent .block-asset-game form .Button-Onegame-wish {
  margin-left: 20px;
}

.bottom {
  position: absolute;
  width: 805px;
  height: 130px;
  top: 290px;
  right: 0;
  border-radius: 25px;
  border: 1px solid grey;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.parent {
  display: grid;
  grid-template-columns: 0.38fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.div1 {
  grid-area: 1/1/2/2;
  border-radius: 25px;
  border: 1px solid grey;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.div1 h3 {
  border-bottom: 1px solid grey;
  padding: 10px;
}
.div1 .about-section {
  padding: 0 15px;
}
.div1 .about-section .enfant {
  margin: 10px 0;
}
.div1 .about-section .enfant span {
  font-size: 1.2em;
}

.div2 {
  grid-area: 1/2/2/3;
  border-radius: 25px;
  border: 1px solid grey;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.div2 h3 {
  border-bottom: 1px solid grey;
  padding: 10px;
}

#settings-block {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 0, rgba(0, 0, 0, 0.1) 0 0 1px 0;
  font-family: "Quicksand", sans-serif;
  max-width: 70em;
  margin: 50px auto;
  height: 790px;
}
#settings-block h3 {
  text-align: center;
}
#settings-block form {
  position: relative;
}
#settings-block form label {
  display: block;
  margin-left: 250px;
  margin-bottom: 20px;
  position: relative;
}
#settings-block form label span {
  position: relative;
  top: 3px;
  font-weight: 800;
}
#settings-block form label .inputtext {
  border-radius: 20px;
  outline: none;
  border: 1px solid #cccccc;
  right: 250px;
  position: absolute;
  width: 250px;
  padding: 5px 15px;
}
#settings-block form .pfp-user {
  width: 100px;
  border-radius: 50%;
}
#settings-block form .banner-user {
  width: 190px;
}

/*# sourceMappingURL=styles.css.map */
