@font-face {
  font-family: "arialroundedmt";
  src: url("./assets/fonts/arialrounded.tff") format("truetype");
}
@font-face {
  font-family: "toxigenesis";
  src: url("./assets/fonts/toxigenesis.tff") format("truetype");
}
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-signin {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #60de18;
}
.form-signin .sign-form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-signin .sign-form h1 {
  color: #fff;
  margin: 10px 0;
  font-family: toxigenesis;
}
.form-signin .sign-form .form-floating {
  font-family: arialroundedmt;
}
.form-signin .sign-form .form-floating input {
  outline: none;
  border: 2px solid #e3e3e3;
  width: 220px;
  height: 30px;
  border-radius: 20px;
  margin: 5px 0;
}
.form-signin .sign-form .form-floating input::placeholder {
  padding-left: 14px;
}
.form-signin .sign-form input[type=submit] {
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 5px 15px;
  width: auto;
  background-color: #fff;
  font-weight: 700;
  color: #4cac15;
}
.form-signin .sign-form .inscription {
  margin-top: 10px;
}
.form-signin .sign-form .inscription span, .form-signin .sign-form .inscription a {
  color: #fff;
}
.form-signin .sign-form .inscription a {
  text-decoration: none;
}
.form-signin .sign-form p {
  margin-top: 10px;
  color: #fff;
  font-family: Arialroundedmt;
}

#green-bar {
  width: 100%;
  height: 3em;
  background-color: #60de18;
  position: fixed;
}
#green-bar img {
  padding: 1.46em 0 0 3em;
}

.form-inscription {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-inscription .inscription-form form {
  width: 500px;
  height: auto;
}
.form-inscription .inscription-form form .profile-picture .user img {
  display: block;
  margin: 0 auto;
  width: 150px;
}
.form-inscription .inscription-form form .profile-picture .user label {
  display: block;
  margin-top: 15px;
}
.form-inscription .inscription-form form .profile-picture .user label input {
  display: block;
  margin: 0 auto;
}
.form-inscription .inscription-form form .form-floating {
  margin: 15px auto;
}
.form-inscription .inscription-form form .form-floating label {
  display: block;
  text-align: center;
  color: #4cac15;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}
.form-inscription .inscription-form form .form-floating label input {
  display: block;
  margin: 0 auto;
  border-radius: 25px;
  border: 1px solid #d5d5d5;
  outline: none;
  height: 30px;
  width: 250px;
}
.form-inscription .inscription-form form input[type=submit] {
  display: block;
  margin: 0 auto;
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 5px 15px;
  color: #fff;
  background-color: #60de18;
  width: 150px;
  height: 30px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}
.form-inscription .inscription-form form .inscription span {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: #60de18;
  display: block;
  text-align: center;
  margin-top: 15px;
}
.form-inscription .inscription-form form .inscription span a {
  font-family: "Quicksand", sans-serif;
  color: #60de18;
  text-decoration-thickness: 2px;
  font-weight: 700;
}
.form-inscription .inscription-form form .error {
  color: red;
  margin-top: 15px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
}

/*# sourceMappingURL=styles.css.map */
