#bio {
    width: 45em;
    font-weight: 600;
    margin: 10px 0 0 18.5em;
    height: auto;
}
.icons-friend-message{
    margin-left: 65em;
    position: absolute;

    img{
        margin : 8px 2px;
    }
}