#feed-block{
    margin: 12em 0 0 20em;
    width: 47em;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    position: absolute;
    font-family: 'Quicksand', sans-serif;

    h3 {
        text-align: center;
        color: #d4d4d4;
        padding: 0.4em 0.1em;
        border-bottom: 1px solid #F5F5F5;
        font-size: 1.2em;
        font-weight: 700;

    }

ul {
    margin: 1em 0 1em 2em;
    list-style-type: circle;

    li {
        padding: 0.5em;

        img{
        }

        span {
            color: #1991FF ;
            font-weight: 500;
        }
    }
}
}