@import "greenNavBar";
@import "coverImage";
@import "profilePicture";
@import "aboutBlock";
@import "feedBlock";
@import "bio";
@import "postBlock";
@import "chat";
@import "preferences";


#main-block {
  margin: 0 auto;
  max-width: 70em;
  height: auto;
}
