.title-preference {
  margin-top: 50px;
  margin-left: 350px;
}

.central-preference {
  border: 2px solid gray;
  padding: 20px;
  border-radius: 20px;
  margin: 50px auto;
  max-width: 70em;
  height: auto;

  .flex-input-preference {
    display: flex;

    .left-preference {
      display: flex;
      align-items: center;
      width: 650px;
      height: 100px;

      p {
        margin-left: 80px;
      }
    }
    .right-preference {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100px;

      input {
        border-radius: 15px;
        width: 350px;
      }
      textarea {
        border-radius: 15px;
      }
      .button-submit-preference {
        border-color: white;
        background-color: #1991ff;
        color: white;
      }
    }
  }
}
