.bottom {
  position: absolute;
  width: 805px;
  height: 130px;
  //background-color: #198ab6;
  top: 290px;
  right: 0;
  border-radius: 25px;
  border: 1px solid grey;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}