// l'index.scss de chaque dossier doit SEULEMENT contenir l'importation de tous les petits fichers scss que vous faite SI vous le voulez
@import "settings";
@import "settingsBlock";

#main-block {
  margin: 0 auto;
  max-width: 70em;
  height: auto;
}
