#OneGame-block {
  margin: 20px auto 0;
  max-width: 70em;
  height: auto;

  #frontDescription {
    display: flex;

    .img-container {
      img {
        width: 300px;
      }
    }

    .tagert-block-game {
      margin: 0 15px;
    }


    .Desc-Container {

      #DescriptionGame {
        width: 100%;
        height: 350px;
        border: 1px solid #c7c7c7;
        border-radius: 25px;
        margin-top: 10px;

        .description-text {
          padding: 15px;
          font-size: 1.2em;
        }

        hr {
          width: 100%;
        }

        .description-note {
          padding: 15px;
          display: flex;
          justify-content: center;
          height: 180px;
          align-items: center;

          .description-cercle {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            border: 1px solid #c7c7c7;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 10px;

            p {
              font-size: 1.7em;
            }
          }

          .descrioption-cercle-text {
            margin: 0 10px;
          }
        }
      }
    }

  }

  #bottomDescription {
    display: flex;
    margin-top: 15px;

    #about {
      width: 430px;
      height: 500px;
      margin: 0 15px;
      border: 1px solid #c7c7c7;
      border-radius: 25px;

      h2 {
        text-align: center;
        margin: 10px 0;
      }

      .flex-item-about {
        display: flex;
        align-items: center;
        padding: 10px;

        .circle {
          width: 12px;
          height: 12px;
          border: 2px solid #646464;
          border-radius: 50%;
          margin-right: 5px;
        }

        p:nth-child(2) {
          color: grey;
          font-weight: 600;
          margin-right: 5px;
        }

        p:nth-child(3) {
          color: #1991FF;
          font-weight: 600;
        }
      }
    }

    #img-container {
      margin: 0 15px;
      width: 100%;
      height: 0;
      border-radius: 25px;

      img {
        width: 100%;
        border-radius: 20px;
        display: block;
      }
    }
  }
}
.Button-Onegame{
  
  margin-left: 1100px;
  
  .Button-Onegame-wish{

  }


  .Button-Onegame-insert{
    background-color: red;
  }
  
}
