.form-signin {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #60de18;

  .sign-form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      color: #fff;
      margin: 10px 0;
      font-family: toxigenesis;
    }

    .form-floating {

      font-family: arialroundedmt;

      input {
        outline: none;
        border: 2px solid #e3e3e3;
        width: 220px;
        height: 30px;
        border-radius: 20px;
        margin: 5px 0;

        &::placeholder {
          padding-left: 14px;
        }

      }

    }

    input[type="submit"] {
      margin-top: 10px;
      border-radius: 20px;
      border: none;
      outline: none;
      padding: 5px 15px;
      width: auto;
      background-color: #fff;
      font-weight: 700;
      color: #4cac15;
      font-family: arialroundedmt;

    }

    .inscription {
      margin-top: 10px;

      span, a {
        color: #fff;
      }

      a {
        text-decoration: none;
      }

    }

    p {
      margin-top: 10px;
      color: #fff;
      font-family: Arialroundedmt;
    }

  }


}